* {
    border: 0;
    box-sizing: border-box;
    list-style: none;
}

body{ 
    background-color: blanchedalmond;
}

input { 
    outline:  0 ;
}

button { 
    border-radius: 4px;
    padding: 8px 10px;
    background-color: rebeccapurple;
    color: white;
    font-size: 10px;
    cursor: pointer;
}

div { 
    display: flex;
    margin-left: 40px;
    margin-top: 20px;
}

ul { 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
 
li{
    width: 20%;
    background-color: cadetblue;
    padding: 10px 10px;
    border-radius: 4px;
    margin-top: 10px;
    color: white;
    font-weight: 600;
    align-items: center;
}

small { 
    color: crimson;
    display: none;
    margin-left: 45px;
    margin-top: 4px;
}
.completed { 
    text-decoration: line-through;
    opacity: 0.5;
}
